<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div th:fragment="top_menu" class="w3-block w3-grey" xmlns:th="http://www.w3.org/1999/xhtml">
    <a href="/" class="w3-button w3-yellow">Back to main menu</a>
    <a href="/dashboard" class="w3-button w3-pink">Dashboard</a>
    <a href="/logout" class="w3-button w3-pink">Logout</a>

    <span th:if="${user != null}" th:text="'Joined: ' + ${user.getUsername()} + ' Role: ' + ${roles}" class="w3-text w3-right w3-margin"></span>
    <a th:if="${user != null}" href="/logout" class="w3-button w3-red w3-right">Logout</a>
</div>