<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="w3css/HomeStyle.css">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">

<style>
    body, h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}
    .w3-row-padding img {margin-bottom: 12px}
    /* Set the width of the sidebar to 120px */
    .w3-sidebar {width: 120px;background: #000;}
    /* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
    #main {margin-left: 120px}
    /* Remove margins from "page content" on small screens */
    @media only screen and (max-width: 600px) {
        #main {margin-left: 0;}
        h1{font-size:medium;}
        .photoUri{ max-width: 300px; max-height: 300px;}
    }
    @media only screen and (max-width: 1200px) {
        h1{font-size:large;}
    }

</style>

<body class="w3-dark-gray">

 <!--Icon Bar (Sidebar - hidden on small screens)-->
<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
    <!-- Avatar image in top left corner -->
    <div class="w3-white">
    <!--<img src="w3images/logo.png" style="width:100%">-->
        <img src="http://images.vfl.ru/ii/1532287031/8432e900/22585990.png" style="width:100%">
        </div>
    <a href="about.html" class="w3-bar-item w3-button w3-padding-large w3-hover-red">
        <i class="fa fa-user w3-xxlarge"></i>
        <p>ABOUT</p>
    </a>
    <a href="news.html" class="w3-bar-item w3-button w3-padding-large w3-hover-red">
        <i class="fa fa-envelope w3-xxlarge"></i>
        <p>NEWS</p>
    </a>
    <a href="schedule.html" class="w3-bar-item w3-button w3-padding-large w3-hover-red">
        <i class="fa fa-calendar w3-xxlarge"></i>
        <p>SCHEDULE</p>
    </a>
    <a href="moderation.html" class="w3-bar-item w3-button w3-padding-large w3-hover-red">
        <i class="fa fa-edit w3-xxlarge"></i>
        <p>MODERATION</p>
    </a>
    <a href="dashboard.html" class="w3-bar-item w3-button w3-padding-large w3-hover-red">
        <i class="fa fa-eye w3-xxlarge"></i>
        <p>DASHBOARD</p>
    </a>
    <a href="index1.html" class="w3-bar-item w3-button w3-padding-large w3-hover-red">
        <i class="fa fa-sign-out w3-xxlarge"></i>
        <p>EXIT</p>
    </a>

</nav>

<!-- Navbar on small screens (Hidden on medium and large screens) -->
<div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
    <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
        <a href="about.html" class="w3-bar-item w3-button w3-hover-red" >ABOUT</a>
        <a href="news.html" class="w3-bar-item w3-button w3-hover-red" >NEWS</a>
        <a href="schedule.html" class="w3-bar-item w3-button w3-hover-red" >SCHEDULE</a>
        <a href="moderation.html" class="w3-bar-item w3-button w3-hover-red">MODERATION</a>
        <a href="dashboard.html" class="w3-bar-item w3-button w3-hover-red">DASHBOARD</a>
        <a href="index1.html" class="w3-bar-item w3-button w3-hover-red">EXIT</a>
    </div>
</div>

<!-- Page Content -->
<div class="w3-padding-large  w3-animate-bottom " id="main">
    <!-- Page Container -->
    <div class="w3-content w3-margin-top">
        <div class="w3-white w3-card-4 ">
            <header class="w3-container w3-red">
                <h1 class="w3-half" >About</h1>
            </header>

            <div class="w3-container w3-white">
                <div class="w3-display-container w3-third ">
                    <!--<img src="w3images/logo.png" style="width:100%" alt="Avatar">-->
                    <img name="photoUri" class="photoUri" src="http://images.vfl.ru/ii/1532287031/8432e900/22585990.png" style="width:100%; margin: 15% auto;" alt="Avatar">
                </div>

                <div class="w3-container w3-twothird ">


                    <div name="firstName" class="w3-container w3-border-bottom w3-half" >
                        <p th:text="${employees.get(1).getFirstName()}"><i class="fa fa-user w3-margin-right w3-large w3-text-dark-grey"></i>Олександер</p>
                    </div>

                    <div name="lastName" class="w3-container w3-border-bottom w3-half" >
                        <p>Шамбрешейга</p>
                    </div>

                    <div name="bornDate" class="w3-container w3-border-bottom w3-half" >
                        <p><i class="fa fa-calendar-check-o w3-margin-right w3-large w3-text-dark-grey"></i>28-12-1288</p>
                    </div>
                    <div name="sex" class="w3-container w3-border-bottom w3-half">
                        <p><i class="fa fa-intersex fa-fw w3-margin-right w3-large w3-text-dark-grey"></i>male</p>
                    </div>

                    <div name="telephone" class="w3-container w3-border-bottom w3-half">
                        <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-dark-grey"></i>1224435534</p>
                    </div>

                    <div name="passportData" class="w3-container w3-border-bottom w3-half">
                        <p><i class="fa fa-address-card fa-fw w3-margin-right w3-large w3-text-dark-grey"></i>GH1234567</p>
                    </div>

                    <div name="email" class="w3-container w3-border-bottom">
                        <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-dark-grey"></i>ex@mail.com</p>
                    </div>

                    <div name="salaryPerHour" class="w3-container w3-border-bottom">
                        <p><i class="fa fa-money fa-fw w3-margin-right w3-large w3-text-dark-grey"></i>salaryPerHour</p>
                    </div>

                    <div name="account" class="w3-container w3-border-bottom">
                        <p><i class="	fa fa-user-circle fa-fw w3-margin-right w3-large w3-text-dark-grey"></i>account</p>
                    </div>

                </div>
            </div>

            <footer class="w3-container w3-gray">
                <h5 name="id"><i class="fa fa-id-badge fa-fw w3-margin-right"></i>id=115522</h5>
            </footer>
        </div>


        <!-- End Page Container -->
    </div>
</div>
</body>
</html>
