<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="w3css/moderation.css">
<script src="w3js/moderation.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<style>

</style>
<body class="w3-black" onLoad="ComboBoxDate()">

<!-- Icon Bar (Sidebar - hidden on small screens) -->
<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
    <!-- Avatar image in top left corner -->
    <div class="w3-white">
        <img src="w3images/logo.png" style="width:100%">
    </div>
    <a href="home.html" class="w3-bar-item w3-button w3-padding-large w3-hover-red">
        <i class="fa fa-user w3-xxlarge"></i>
        <p>ABOUT</p>
    </a>
    <a href="news.html" class="w3-bar-item w3-button w3-padding-large w3-hover-red">
        <i class="fa fa-envelope w3-xxlarge"></i>
        <p>NEWS</p>
    </a>
    <a href="schedule.html" class="w3-bar-item w3-button w3-padding-large w3-hover-red">
        <i class="fa fa-calendar w3-xxlarge"></i>
        <p>SCHEDULE</p>
    </a>
    <a href="moderation.html" class="w3-bar-item w3-button w3-padding-large w3-hover-red">
        <i class="fa fa-edit w3-xxlarge"></i>
        <p>MODERATION</p>
    </a>
    <a href="dashboard.html" class="w3-bar-item w3-button w3-padding-large w3-hover-red">
        <i class="fa fa-eye w3-xxlarge"></i>
        <p>DASHBOARD</p>
    </a>
    <a href="index1.html" class="w3-bar-item w3-button w3-padding-large w3-hover-red">
        <i class="fa fa-sign-out w3-xxlarge"></i>
        <p>EXIT</p>
    </a>

</nav>

<!-- Navbar on small screens (Hidden on medium and large screens) -->
<div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
    <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
        <a href="home.html" class="w3-bar-item w3-button w3-hover-red" >ABOUT</a>
        <a href="news.html" class="w3-bar-item w3-button w3-hover-red" >NEWS</a>
        <a href="schedule.html" class="w3-bar-item w3-button w3-hover-red" >SCHEDULE</a>
        <a href="moderation.html" class="w3-bar-item w3-button w3-hover-red">MODERATION</a>
        <a href="dashboard.html" class="w3-bar-item w3-button w3-hover-red">DASHBOARD</a>
        <a href="index1.html" class="w3-bar-item w3-button w3-hover-red">EXIT</a>
    </div>
</div>


<!-- Page Content -->
<div class="w3-padding-large  w3-animate-bottom " id="main">


    <!-- Page Content -->
    <div class="w3-container w3-content  w3-animate-bottom" id="autorization">
        <div class="w3-display w3-white" >
            <div class="w3-bar w3-black">
                <button class="w3-bar-item w3-button w3-mobile tablink"  onclick="openLink(event, 'NewEvent');" ><i class="fa fa-bell w3-margin-right"></i>Create event</button>
                <button class="w3-bar-item w3-button w3-mobile tablink" onclick="openLink(event, 'NewUser');"><i class="fa fa-address-card w3-margin-right"></i>New user</button>
                <button class="w3-bar-item w3-button w3-mobile tablink" onclick="openLink(event, 'Moderation');"><i class="fa fa-binoculars w3-margin-right"></i>Moderation</button>
            </div>

            <!-- Tabs -->
            <div id="NewEvent" class="w3-container w3-white myLink">

                <h3>Create Event</h3>

                <h6 >Event theme:</h6>
                    <input class="w3-input w3-animate-input" type="text" style="width:200px" placeholder="Event theme">
                <h6 >Location of event:</h6>
                    <input class="w3-input w3-animate-input" type="text" style="width:200px" placeholder="Location of event">

                <div class="w3-container w3-margin-top" style="padding: 0;!important;">
                    <h6 class="w3-third">Event Date:</h6>
                    <div class="w3-twothird">
                        <select class="w3-select w3-border w3-button w3-quarter" id ="selectDay"></select>
                        <select class="w3-select w3-border w3-button w3-half" id ="selectMounth"></select>
                        <select class="w3-select w3-border w3-button w3-quarter" id ="selectYear"></select>
                    </div>
                </div>



                <div class="w3-margin-top">
                    <h6>Description:</h6>
                    <textarea placeholder="Description"></textarea>
                </div>

                <button class="w3-button w3-dark-grey w3-right signIn w3-margin-bottom" type='submit' id='createEvent'>Create new event</button>
            </div>



            <div id="NewUser" class="w3-container w3-white myLink"style="display:none">

                <h3>Create User</h3>

                <h6>User name:</h6>
                <input class="w3-input w3-animate-input" type="text" style="width:200px" placeholder="User name">
                <h6>User lastname:</h6>
                <input class="w3-input w3-animate-input" type="text" style="width:200px" placeholder="User lastname">
                <h6>User position:</h6>
                <input class="w3-input w3-animate-input" type="text" style="width:200px" placeholder="User position">
                <h6>Address:</h6>
                <input class="w3-input w3-animate-input" type="text" style="width:200px" placeholder="Address">
                <h6>Phone:</h6>
                <input class="w3-input w3-animate-input" type="text" style="width:200px" placeholder="Phone">
                <h6>E-mail:</h6>
                <input class="w3-input w3-animate-input" type="text" style="width:200px" placeholder="E-mail">

                <div class="w3-container w3-margin-top" style="padding: 0;!important;">
                    <h6 class="w3-third">Employment date:</h6>
                    <div class="w3-twothird">
                    <select class="w3-select w3-border w3-button w3-quarter" id ="selectDay1"></select>
                    <select class="w3-select w3-border w3-button w3-half" id ="selectMounth1"></select>
                    <select class="w3-select w3-border w3-button w3-quarter" id ="selectYear1"></select>
                    </div>
                </div>

                <button class="w3-button w3-dark-grey w3-right signIn w3-margin-bottom" type='submit' id='createUser'>Create new user</button>
            </div>


            <div id="Moderation" class="w3-container w3-white myLink"style="display:none">
                <h3>Hello Boss!</h3>
            </div>
        </div>
        <!-- end Page Content -->
    </div>

</div>


</body>
</html>
