<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="w3css/Schedule.css">

<style>

</style>
<body class="w3-black">

<!-- Icon Bar (Sidebar - hidden on small screens) -->
<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
    <!-- Avatar image in top left corner -->
    <div class="w3-white">
        <img src="w3images/logo.png" style="width:100%">
    </div>
    <a href="home.html" class="w3-bar-item w3-button w3-padding-large w3-hover-red">
        <i class="fa fa-user w3-xxlarge"></i>
        <p>ABOUT</p>
    </a>
    <a href="news.html" class="w3-bar-item w3-button w3-padding-large w3-hover-red">
        <i class="fa fa-envelope w3-xxlarge"></i>
        <p>NEWS</p>
    </a>
    <a href="schedule.html" class="w3-bar-item w3-button w3-padding-large w3-hover-red">
        <i class="fa fa-calendar w3-xxlarge"></i>
        <p>SCHEDULE</p>
    </a>
    <a href="moderation.html" class="w3-bar-item w3-button w3-padding-large w3-hover-red">
        <i class="fa fa-edit w3-xxlarge"></i>
        <p>MODERATION</p>
    </a>
    <a href="dashboard.html" class="w3-bar-item w3-button w3-padding-large w3-hover-red">
        <i class="fa fa-eye w3-xxlarge"></i>
        <p>DASHBOARD</p>
    </a>
    <a href="index1.html" class="w3-bar-item w3-button w3-padding-large w3-hover-red">
        <i class="fa fa-sign-out w3-xxlarge"></i>
        <p>EXIT</p>
    </a>

</nav>

<!-- Navbar on small screens (Hidden on medium and large screens) -->
<div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
    <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
        <a href="home.html" class="w3-bar-item w3-button w3-hover-red" >ABOUT</a>
        <a href="news.html" class="w3-bar-item w3-button w3-hover-red" >NEWS</a>
        <a href="schedule.html" class="w3-bar-item w3-button w3-hover-red" >SCHEDULE</a>
        <a href="moderation.html" class="w3-bar-item w3-button w3-hover-red">MODERATION</a>
        <a href="dashboard.html" class="w3-bar-item w3-button w3-hover-red">DASHBOARD</a>
        <a href="index1.html" class="w3-bar-item w3-button w3-hover-red">EXIT</a>
    </div>
</div>




<!-- Page Content -->
<div class="w3-padding-large  w3-animate-bottom " id="main">
    <!-- Page Container -->
            <div class="w3-container">
                <div class="month w3-brown">
                    <ul>
                        <li class="prev">&#10094;</li>
                        <li class="next">&#10095;</li>
                        <li>
                            August<br>
                            <span style="font-size:18px">2017</span>
                        </li>
                    </ul>
                </div>

                <ul class="weekdays">
                    <li>Mo</li>
                    <li>Tu</li>
                    <li>We</li>
                    <li>Th</li>
                    <li>Fr</li>
                    <li>Sa</li>
                    <li>Su</li>
                </ul>

                <ul class="days">
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li>6</li>
                    <li>7</li>
                    <li>8</li>
                    <li>9</li>
                    <li><span class="active w3-brown">10</span></li>
                    <li>11</li>
                    <li>12</li>
                    <li>13</li>
                    <li>14</li>
                    <li>15</li>
                    <li>16</li>
                    <li>17</li>
                    <li>18</li>
                    <li>19</li>
                    <li>20</li>
                    <li>21</li>
                    <li>22</li>
                    <li>23</li>
                    <li>24</li>
                    <li>25</li>
                    <li>26</li>
                    <li>27</li>
                    <li>28</li>
                    <li>29</li>
                    <li>30</li>
                    <li>31</li>
                </ul>
                <!-- End Page Container -->
    </div>
</div>
</body>
</html>
